In [2]:
# 1) f-strings (formatted strings)
name = 'tom'
age = 5
s = f'my name is {name} and my age is {age}'
print(s)
# 'my name is tom and my age is 5'

height = 1.44
s = f'{name=} {age=} {height=}'
print(s)
# name='tom' age=5 height=1.44

pi = 3.14159265
s = f'pi is {pi:.2f}'
print(s)
# pi is 3.14

my name is tom and my age is 5
name='tom' age=5 height=1.44
pi is 3.14

In [4]:
# 2) Tuple Unpacking (with & without *)
person = ['tom', 5, 'male']
name, age, gender = person
print(f'{name=}, {age=}, {gender=}')
# name='tom', age=5, gender='male'

letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
first, second, *others = letters
print(f'{first=}, {second=}, {others=}')
# first='A', second='B'
# letters = ['C', 'D', 'E', 'F', 'G']

name='tom', age=5, gender='male'
first='A', second='B', others=['C', 'D', 'E', 'F', 'G']

In [16]:
# 3) ‘pprint’ in Python (print more human-readable)
x = [
  {'apple': [1,2,3], 'orange':[4,5,6]},
  {'pear': [7,8,9], 'pineapple':[10,11,12]},
  {'durian':[13,14,15], 'banana':[16,17,18]}
]
print('print(x):') 
print(x, '\n')

from pprint import pprint
print('pprint(x):') 
pprint(x)

print(x):
[{'apple': [1, 2, 3], 'orange': [4, 5, 6]}, {'pear': [7, 8, 9], 'pineapple': [10, 11, 12]}, {'durian': [13, 14, 15], 'banana': [16, 17, 18]}]

pprint(x):
[{'apple': [1, 2, 3], 'orange': [4, 5, 6]},
 {'pear': [7, 8, 9], 'pineapple': [10, 11, 12]},
 {'banana': [16, 17, 18], 'durian': [13, 14, 15]}]

In [35]:
# 4) list/dict/set Comprehension
list1 = [i**2 for i in range(1, 5) if i**2 % 2 == 0]
dict1 = {key:key**2 for key in range(1,5) if key % 2 == 0}
set1 = {i**2 for i in range(1, 5) if i**2 % 3 == 1}

print(f'{list1 = }, type => {type(list1).__name__}')
print(f'{dict1 = }, type => {type(dict1).__name__}')
print(f'{set1 = }, type => {type(set1).__name__}')

list1 = [4, 16], type => list
dict1 = {2: 4, 4: 16}, type => dict
set1 = {16, 1, 4}, type => set

In [40]:
# 5) *args and **kwargs in Functions
def myfunction(a, b, *args):
  print(f'{a=}, {b=}, {args=}')
myfunction(1, 2, 3, 4, 5)    # a=1 b=2 args=(3, 4, 5)

def myfunction(a, b, **kwargs):
  print(f'{a=}, {b=}, {kwargs=}')
myfunction(1, 2, c=3, d=4)    # a=1 b=2 kwargs={'c': 3, 'd': 4}

a=1, b=2, args=(3, 4, 5)
a=1, b=2, kwargs={'c': 3, 'd': 4}

In [45]:
# 6) the ternary operator
''' A common if-elif-else block '''
score = 57
if score > 90:
  grade1 = 'A*'
elif score > 50:
  grade1 = 'pass'
else:
  grade1 = 'fail'
print(f'if-elif-else block: {grade1 = }')

''' Using the ternary operator '''
grade2 = 'A*' if score>90 else ('pass' if score>50 else 'fail') # nested ternary operator
print(f'ternary operator: {grade2 = }') # grade = 'pass'

if-elif-else block: grade1 = 'pass'
ternary operator: grade2 = 'pass'